<table>
  <tr>
    <td>Username:</td>
    <td><input type='text' placeholder="name" [(ngModel)]="user.name"></td>
  </tr>
  <tr>
    <td>Password:</td>
    <td><input type='password' placeholder="password" [(ngModel)]="user.password"/></td>
  </tr>
  <tr>
    <td><button (click)="login()">Login</button></td>
  </tr>
  <tr>
    <td><p>{{result}}</p></td>
  </tr>
</table>

<a href="https://accounts.google.com/o/oauth2/auth?scope=email&redirect_uri=http://localhost:8080/login-google&response_type=code
		&client_id=80724656105-fg2ndheoujm7c7dd4ob1i9mq3ebdbjhb.apps.googleusercontent.com&approval_prompt=force">Login With
  Gmail</a>



